.transparent{
	-fx-background-color: transparent;
}

.background {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat:  no-repeat;
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.5, 0, 0);
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: Georgia;
    -fx-text-fill: #AE3031;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 12px;
    -fx-font-family: Georgia;
    -fx-text-fill: #AE3031;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 14px;
    -fx-font-family: Georgia;
    -fx-text-fill: #AE3031;
    -fx-opacity: 1;
}

.label-login {
    -fx-font-size: 46px;
    -fx-font-family: Broadway;
    -fx-text-fill: #AE3031;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #FFAFAE;
    -fx-opacity: 0.8;
}

.table-view .table-cell{
    -fx-text-fill: #AE3031;
    -fx-font-family: Georgia;
    -fx-font-size: 12px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style: dashed;
    -fx-border-color: #FFAFAE;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-border-color: #FFAFAE;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: Georgia;
    -fx-text-fill: #AE3031;
    -fx-alignment: center-left;
    -fx-opacity: 0.8;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #FFAFAE;
    -fx-opacity: 0.7;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: derive(#FFAFAE,90%);
}


.context-menu {
    -fx-background-color: derive(#FFAFAE,90%);
}


.menu-bar .label {
    -fx-font-size: 12px;
    -fx-font-family: Georgia;
    -fx-text-fill: #AE3031;
    -fx-opacity: 0.8;
}

.menu .left-container {
    -fx-background-color: #FFAFAE;
}

.button {
    -fx-background-color: #AE3031;
    -fx-font-family: Georgia;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 7px;
}

.button:hover {
    -fx-opacity: 0.7;
}

.button:pressed, .button:default:hover:pressed {
  -fx-opacity: 0.4;
}

.text-field{
	-fx-opacity: 0.8;
    -fx-text-fill: #AE3031;
	-fx-font-family: Georgia;
	-fx-font-size: 12px;
}

.text-area {
    -fx-opacity: 0.8;
    -fx-text-fill: #AE3031;
	-fx-font-family: Georgia;
	-fx-font-size: 12px;
	-fx-background-color: transparent;
	-fx-border-color: #FFAFAE;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab{
    -fx-background-color: #AE3031;
    -fx-opacity: 0.8;
    -fx-padding: 6px;
}

.tab-pane .tab:selected{
    -fx-opacity: 1;
    -fx-focus-color: transparent;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-family: Georgia;
    -fx-font-size: 16px;
}


.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #AE3031;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-opacity: 0.8;
}    

.combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
    -fx-border-color: #FFAFAE;
    -fx-border-width: 1px 0px;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #FFAFAE;
    -fx-opacity: 0.8;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-font-weight: bold;
    -fx-background-color: #FFAFAE;
}

.combo-box-base  {
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-border-color: #FFAFAE;
    -fx-border-width: 1px;
   	-fx-opacity: 0.8;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #FFAFAE;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: white;

}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: #AE3031;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 13px; 
    -fx-text-fill: #AE3031;
}

.date-picker-popup > * > .day-cell {
    -fx-border-color: #FFAFAE;
    -fx-border-width: 1px;
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-opacity: 0.9;
    -fx-text-fill: #AE3031;
}

.date-picker-popup > * > .day-cell:hover{
	-fx-font-weight: bold;
	-fx-background-color: #FFAFAE;
} 



